# Compiled documentation
/docs-html/
/docs-pdf/
/man-build/

# Output from test scripts and sample builds
/fixtures/BuildTest/*/.awe/
/fixtures/BuildTest/*/build/
/sample/**/build/

# Packages
/node_modules/
/ruby_bundle/
/vendor/

# Other package manager files
/.bundle/
npm-debug.log

# Sublime Text workspace
/*.sublime-workspace
