# Source files
/docs/
/lib/
/man/

# Documentation
/docs-html/
/docs-pdf/

# Test scripts, fixtures and sample files
/fixtures/
/sample/
/test/

# Ruby packages (Note: node_modules/ is ignored automatically)
/.bundle/
/ruby_bundle/

# Editor files
.editorconfig
/*.sublime-project
/*.sublime-workspace

# Grunt
/Gruntfile.coffee
